<div class="container">
  <header>
    <div class="badge">Our blog</div>
    <h1>Resources and insights</h1>
    <p>The latest industry news, interviews, technologies, and resources.</p>
    <div class="search">
      <img
        src="assets/icons/search-Icon.svg"
        alt="search icon"
        class="search-icon"
      />
      <input
        type="search"
        name="search"
        placeholder="Search"
        [(ngModel)]="searchText"
      />
    </div>
  </header>
  <main>
    <img src="assets/images/Background-pattern.png" class="background" />
    @defer(){ @if(!errorMessage) {
    <section class="posts">
      @for(post of displayedPosts ; track post ) {
      @if(post.title.toLowerCase().includes(searchText.toLowerCase()))
      {<app-post-item [post]="post"></app-post-item>} } @empty{
      <h1 class="empty">No posts available</h1>
      }
    </section>
    <button
      (click)="loadMorePosts()"
      [hidden]="displayButton()"
      class="load-more-btn"
    >
      <img src="assets/icons/arrow-down.svg" alt="down-arrow" /> Load more
    </button>
    } @else{
    <app-error-message></app-error-message>
    <button class="retry" (click)="loadPosts()">Retry</button>
    } } @loading(minimum 1s){
    <app-loading-indicator></app-loading-indicator>
    }
  </main>
</div>
